section{
    position: relative;
}
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

section .form{
    width: 35%;
    background-color: var(--color-dark-2);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    padding: 0rem 3rem ;
}

section .form>img{
    padding: 3rem 0 1rem 0;
    width: 17rem;
}

section .form>button{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #777777;
    border-radius: 0.5rem;
    background-color: transparent;
    font-size: 2.2rem;
    font-weight: 300;
    cursor: pointer;
}

section .form>button ion-icon{
    color: var(--color-main);
}

section .form>p:nth-of-type(1){
    width: fit-content;
    font-size: 2rem;
    font-weight: 200;
    padding: 1rem 0;
    position: relative;
}

section .form>p:nth-of-type(1)::before,
section .form>p:nth-of-type(1)::after{
    content: "";
    width: 50%;
    height: 1px;
    position: absolute;
    top: 50%;
    background-color:#777777;
}

section .form>p:nth-of-type(1)::before{
    left: -55%;
}
section .form>p:nth-of-type(1)::after{
    right: -55%;
}

section .form form{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 1rem;
}

section .form form label{
    font-size: 1.9rem;
    font-weight: 200;
    align-self: flex-start;
}

section .form form input{
    all: unset;
    border: 1px solid #777777;
    border-radius: 0.5rem;
    width: calc(100% - 2rem);
    padding: 1rem 2rem;
    font-size: 1.8rem;
}

section .form form button{
    all: unset;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    border-radius: 0.5rem;
}
section .form form button:nth-of-type(1){
    background-color: var(--color-main);
    color: var(--color-dark);
}

section .form form button:nth-of-type(2){
    border: 1px solid #777777;
    color: var(--color-main);
}

section .form>p:nth-of-type(2){
    color: #777777;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

section .form>p:nth-of-type(2) span{
    color: var(--color-main);
}

section .img{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .img img{
    width: 75%;
}

.circle{
    position: absolute;
    background-color: var(--color-main);
    width: 25%;
    height: 30%;
    border-radius: 50%;
    filter: blur(13rem);
    top: -10%;
    right: -10%;
}