nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
    padding: 1.5rem 0;
}

nav .logo{
    width: 18rem;
}

nav button{
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #292D32;
    color: var(--color-white-2);
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

nav button:hover{
    background-color: #3a3d41;
}
nav .info{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2.2rem;
    color: var(--color-white-2);
}

nav .info ion-icon{
    cursor: pointer;
}

nav .info span{
    width: 1px;
    height: 4rem;
    background-color: var(--color-white-2);
}

nav .info .img{
    height: 6rem;
    padding: 0.3rem;
    border-radius: 50%;
    border: 1px solid var(--color-white-2);
}

nav .info .img img{
    height: 100%;
}